In [1]:
#Import needed packages
import pandas as pd
import csv
import os
import matplotlib.pyplot as pp
import numpy as np
import seaborn
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from IPython.display import display

In [2]:
plotly.tools.set_credentials_file(username='not included', api_key = 'not included')
%matplotlib inline

In [3]:
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.precision', 2)

In [4]:
# Question: How does the pay gap change based on how many hours someone works?
# Import data on Median weekly earnings from shortest to longest workweek
medEarnByHrsWrkd = pd.read_csv(r'C:\Users\Student\Documents\DATS 6103- Individual Project 2- Iliana Maifeld-Carucci/medEarningsByHrsWrkd.csv', encoding= 'ISO-8859-1')
medEarnByHrsWrkd.head()

,Hours of work,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median,Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median,Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median,Women's earnings as a percentage of men's
0,"Total, 16 years and older",136101,715,2,65512,616,2,70589,821,3,75.0
1,0 to 34 hours,22690,254,1,14888,258,1,7801,247,2,104.5
2,0 to 4 hours,545,61,2,365,61,3,179,62,4,98.4
3,5 to 9 hours,1191,90,2,786,93,3,406,84,4,110.7
4,10 to 14 hours,1987,117,1,1346,118,1,641,115,2,102.6

In [5]:
#drop na values
medEarnByHrsWrkd.dropna(inplace=True)
medEarnByHrsWrkd

,Hours of work,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median,Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median,Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median,Women's earnings as a percentage of men's
0,"Total, 16 years and older",136101,715,2,65512,616,2,70589,821,3,75.0
1,0 to 34 hours,22690,254,1,14888,258,1,7801,247,2,104.5
2,0 to 4 hours,545,61,2,365,61,3,179,62,4,98.4
3,5 to 9 hours,1191,90,2,786,93,3,406,84,4,110.7
4,10 to 14 hours,1987,117,1,1346,118,1,641,115,2,102.6
5,15 to 19 hours,2724,168,1,1770,172,2,954,163,2,105.5
6,20 to 24 hours,6692,229,2,4343,239,2,2349,217,2,110.1
7,25 to 29 hours,3485,284,3,2326,286,3,1159,279,4,102.5
8,30 to 34 hours,6064,362,3,3951,374,4,2113,339,5,110.3
9,35 hours and over,106045,838,3,47166,755,2,58879,919,3,82.2
10,35 to 39 hours,8148,527,5,5386,544,6,2762,495,8,109.9
11,40 hours,76021,774,2,34944,732,2,41077,823,4,88.9
12,41 hours and over,21876,1250,5,6836,1129,8,15040,1332,9,84.8
13,41 to 44 hours,1130,943,21,436,857,24,694,1003,29,85.4
14,45 to 48 hours,6141,1098,14,2171,996,15,3970,1152,10,86.5
15,49 to 59 hours,9834,1351,9,3057,1214,18,6777,1409,14,86.2
16,60 hours and over,4772,1412,18,1172,1226,33,3600,1474,22,83.2
17,Hours vary,7366,493,7,3457,380,6,3909,656,16,57.9
18,Usually less than 35 hours,2142,221,4,1371,222,5,772,220,7,100.9
19,Usually 35 or more hours,5046,697,13,1995,521,14,3051,817,16,63.8

In [6]:
#check that all variables are floats or integers
medEarnByHrsWrkd.dtypes

Hours of work                                     object
Total: Number\nof\nworkers\n(thousands)            int64
Total: Median \nweekly\nearnings ($)               int64
Total: Standard\nerror\nof\nmedian                 int64
Women: Number\nof\nworkers\n(thousands)            int64
Women: Median\nweekly\nearnings ($)                int64
Women: Standard\nerror\nof\nmedian                 int64
Men: Number\nof\nworkers\n(thousands)              int64
Men: Median\nweekly\nearnings ($)                  int64
Men: Standard\nerror\nof\nmedian                   int64
Women's\nearnings\nas a\npercentage\nof men's    float64
dtype: object

In [7]:
#Delete rows 'Total, 16 years and older', '0 to 34 hours', '35 hours and over', '41 hours and over', 'Hours vary', 'Usually less than 35 hours', 'Usually 35 or more hours' so the hours are nicely discretized
medEarnByHrsWrkd.drop([0,1,9,12,17,18,19], inplace = True)

In [8]:
medEarnByHrsWrkd

,Hours of work,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median,Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median,Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median,Women's earnings as a percentage of men's
2,0 to 4 hours,545,61,2,365,61,3,179,62,4,98.4
3,5 to 9 hours,1191,90,2,786,93,3,406,84,4,110.7
4,10 to 14 hours,1987,117,1,1346,118,1,641,115,2,102.6
5,15 to 19 hours,2724,168,1,1770,172,2,954,163,2,105.5
6,20 to 24 hours,6692,229,2,4343,239,2,2349,217,2,110.1
7,25 to 29 hours,3485,284,3,2326,286,3,1159,279,4,102.5
8,30 to 34 hours,6064,362,3,3951,374,4,2113,339,5,110.3
10,35 to 39 hours,8148,527,5,5386,544,6,2762,495,8,109.9
11,40 hours,76021,774,2,34944,732,2,41077,823,4,88.9
13,41 to 44 hours,1130,943,21,436,857,24,694,1003,29,85.4
14,45 to 48 hours,6141,1098,14,2171,996,15,3970,1152,10,86.5
15,49 to 59 hours,9834,1351,9,3057,1214,18,6777,1409,14,86.2
16,60 hours and over,4772,1412,18,1172,1226,33,3600,1474,22,83.2

In [9]:
#Create a plotly graph of median weekly pay for men and women as hours worked per week increases
x_g1 = medEarnByHrsWrkd.iloc[:, 0]
y1_g1 = medEarnByHrsWrkd.iloc[:, 5]
y2_g1 = medEarnByHrsWrkd.iloc[:, 8]
bubble1_g1 = medEarnByHrsWrkd.iloc[:, 4]
bubble2_g1 = medEarnByHrsWrkd.iloc[:, 7]
sizeref1_g1 = 2*max(bubble1_g1)/(70**2)
sizeref2_g1 = 2*max(bubble2_g1)/(70**2)

#create trace of women's pay
trace1_g1 = go.Scatter(x = x_g1, y = y1_g1, mode = 'markers', name = "Women's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref1_g1,
        size=medEarnByHrsWrkd.iloc[:, 4],
        line=dict(
            width=2
        ), sizemin=5))

#create trace of men's pay
trace2_g1 = go.Scatter(x = x_g1, y = y2_g1, mode = 'markers', name = "Men's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref2_g1,
        size=medEarnByHrsWrkd.iloc[:, 7],
        line=dict(
            width=2
        ), sizemin = 5))

data_g1 = [trace1_g1, trace2_g1]
layout_g1 = go.Layout(title = "Median Weekly Earnings By Hours Worked for Men and Women"+'<br />(Hover for value)', xaxis = dict(title = "Hours Worked",), yaxis = dict(title = "Weekly Earnings ($)",),)
fig_g1 = go.Figure(data = data_g1, layout = layout_g1)
py.iplot(fig_g1, filename = "medEarnByHrsWrkd")

In [10]:
#Question: What are the jobs with the biggest and least pay gap?
#Import data on median weekly earnings of full time workers based on occupation in 2016 annual averages
medEarnByJob = pd.read_csv(r'C:\Users\Student\Documents\DATS 6103- Individual Project 2- Iliana Maifeld-Carucci/medEarnByJob.csv', encoding= 'ISO-8859-1')
medEarnByJob

,Unnamed: 0,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's
0,Chief executives,1150.0,2303.0,23.0,318.0,1876.0,110.0,832.0,2419.0,76.0,77.6
1,General and operations managers,876.0,1266.0,30.0,250.0,1037.0,78.0,626.0,1358.0,23.0,76.4
2,Marketing and sales managers,921.0,1468.0,40.0,403.0,1142.0,49.0,518.0,1745.0,42.0,65.4
3,Administrative services managers,172.0,1261.0,54.0,71.0,952.0,50.0,101.0,1398.0,49.0,68.1
4,Computer and information systems managers,592.0,1738.0,24.0,150.0,1680.0,101.0,443.0,1756.0,37.0,95.7
5,Financial managers,1105.0,1423.0,35.0,578.0,1157.0,24.0,527.0,1670.0,87.0,69.3
6,Human resources managers,263.0,1340.0,31.0,190.0,1283.0,57.0,73.0,1737.0,109.0,73.9
7,Industrial production managers,267.0,1361.0,51.0,66.0,1219.0,138.0,201.0,1409.0,104.0,86.5
8,Purchasing managers,187.0,1274.0,137.0,92.0,1169.0,39.0,95.0,1400.0,48.0,83.5
9,"Transportation, storage, and distribution mana...",288.0,990.0,40.0,51.0,988.0,424.0,237.0,990.0,37.0,99.8
10,Education administrators,838.0,1381.0,28.0,541.0,1280.0,45.0,297.0,1528.0,98.0,83.8
11,Food service managers,760.0,739.0,17.0,350.0,632.0,28.0,410.0,853.0,47.0,74.1
12,Lodging managers,124.0,929.0,48.0,64.0,764.0,59.0,59.0,1068.0,69.0,71.5
13,Medical and health services managers,533.0,1402.0,67.0,399.0,1254.0,55.0,133.0,1610.0,47.0,77.9
14,"Property, real estate, and community associati...",402.0,959.0,51.0,221.0,815.0,35.0,181.0,1157.0,50.0,70.4
15,Social and community service managers,363.0,1079.0,71.0,248.0,992.0,43.0,115.0,1206.0,102.0,82.3
16,"Managers, all other",2960.0,1422.0,23.0,1115.0,1188.0,32.0,1845.0,1542.0,22.0,77.0
17,"Wholesale and retail buyers, except farm products",152.0,838.0,49.0,83.0,765.0,29.0,68.0,942.0,61.0,81.2
18,"Purchasing agents, except wholesale, retail, a...",253.0,1024.0,39.0,125.0,974.0,120.0,128.0,1037.0,62.0,93.9
19,"Claims adjusters, appraisers, examiners, and i...",321.0,969.0,25.0,206.0,912.0,21.0,114.0,1139.0,63.0,80.1
20,Compliance officers,252.0,1243.0,38.0,146.0,1163.0,55.0,106.0,1274.0,97.0,91.3
21,Human resources workers,631.0,1139.0,26.0,465.0,1089.0,41.0,166.0,1364.0,179.0,79.8
22,Management analysts,585.0,1476.0,41.0,253.0,1342.0,40.0,332.0,1586.0,61.0,84.6
23,Market research analysts and marketing special...,246.0,1171.0,97.0,130.0,1097.0,63.0,116.0,1345.0,69.0,81.6
24,"Business operations specialists, all other",257.0,1125.0,60.0,146.0,1001.0,29.0,110.0,1263.0,58.0,79.3
25,Accountants and auditors,1451.0,1153.0,13.0,892.0,1018.0,20.0,559.0,1441.0,60.0,70.6
26,Financial analysts,277.0,1525.0,108.0,104.0,1252.0,40.0,173.0,1747.0,62.0,71.7
27,Personal financial advisors,399.0,1404.0,32.0,142.0,953.0,45.0,258.0,1714.0,93.0,55.6
28,Credit counselors and loan officers,351.0,1054.0,93.0,200.0,926.0,29.0,151.0,1331.0,125.0,69.6
29,Computer systems analysts,496.0,1393.0,35.0,182.0,1328.0,38.0,314.0,1475.0,53.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...
90,"Bookkeeping, accounting, and auditing clerks",756.0,722.0,13.0,641.0,716.0,13.0,115.0,790.0,43.0,90.6
91,Customer service representatives,1850.0,640.0,10.0,1185.0,623.0,9.0,664.0,676.0,19.0,92.2
92,Receptionists and information clerks,951.0,583.0,7.0,848.0,581.0,7.0,103.0,600.0,26.0,96.8
93,Dispatchers,279.0,704.0,24.0,153.0,671.0,27.0,126.0,734.0,24.0,91.4
94,Postal service clerks,111.0,901.0,122.0,53.0,805.0,39.0,58.0,999.0,36.0,80.6
95,Postal service mail carriers,304.0,981.0,19.0,119.0,931.0,38.0,185.0,1020.0,35.0,91.3
96,"Production, planning, and expediting clerks",224.0,853.0,26.0,111.0,765.0,37.0,113.0,935.0,28.0,81.8
97,"Shipping, receiving, and traffic clerks",473.0,596.0,10.0,151.0,583.0,18.0,322.0,602.0,12.0,96.8
98,Stock clerks and order fillers,1014.0,530.0,13.0,371.0,526.0,16.0,643.0,533.0,19.0,98.7
99,Secretaries and administrative assistants,2210.0,713.0,7.0,2078.0,708.0,7.0,133.0,831.0,43.0,85.2
100,Data entry keyers,221.0,638.0,18.0,170.0,630.0,23.0,51.0,655.0,25.0,96.2
101,"Office clerks, general",900.0,654.0,11.0,760.0,648.0,11.0,140.0,707.0,30.0,91.7
102,"Office and administrative support workers, all...",457.0,768.0,16.0,351.0,751.0,18.0,107.0,855.0,54.0,87.8
103,Miscellaneous agricultural workers,659.0,508.0,8.0,111.0,423.0,14.0,547.0,524.0,11.0,80.7
104,First-line supervisors of production and opera...,729.0,923.0,22.0,131.0,723.0,37.0,599.0,972.0,27.0,74.4
105,"Electrical, electronics, and electromechanical...",105.0,590.0,18.0,50.0,554.0,24.0,55.0,618.0,23.0,89.6
106,Miscellaneous assemblers and fabricators,990.0,601.0,11.0,345.0,559.0,16.0,645.0,625.0,15.0,89.4
107,Bakers,138.0,494.0,14.0,83.0,480.0,13.0,55.0,562.0,65.0,85.4
108,"Butchers and other meat, poultry, and fish pro...",244.0,526.0,24.0,61.0,449.0,40.0,183.0,571.0,32.0,78.6
109,"Metal workers and plastic workers, all other",380.0,626.0,20.0,74.0,565.0,20.0,306.0,658.0,29.0,85.9
110,Laundry and dry-cleaning workers,135.0,454.0,32.0,80.0,436.0,33.0,55.0,486.0,34.0,89.7
111,Sewing machine operators,165.0,437.0,15.0,114.0,452.0,15.0,52.0,407.0,16.0,111.1
112,"Inspectors, testers, sorters, samplers, and we...",686.0,714.0,14.0,241.0,584.0,19.0,445.0,834.0,35.0,70.0
113,Packaging and filling machine operators and te...,224.0,488.0,16.0,113.0,425.0,17.0,112.0,574.0,32.0,74.0
114,"Production workers, all other",887.0,622.0,13.0,246.0,515.0,12.0,641.0,690.0,17.0,74.6
115,Bus drivers,343.0,641.0,17.0,146.0,589.0,22.0,197.0,691.0,32.0,85.2
116,Driver/sales workers and truck drivers,2809.0,780.0,10.0,120.0,630.0,44.0,2689.0,787.0,10.0,80.1
117,Industrial truck and tractor operators,564.0,602.0,9.0,54.0,563.0,30.0,510.0,604.0,10.0,93.2
118,"Laborers and freight, stock, and material move...",1417.0,566.0,11.0,221.0,509.0,11.0,1196.0,580.0,8.0,87.8
119,"Packers and packagers, hand",383.0,456.0,12.0,216.0,437.0,22.0,166.0,468.0,14.0,93.4

In [11]:
#drop na values
medEarnByJob.dropna(inplace=True)

In [12]:
#rename the first column to 'Occupation' 
medEarnByJob.rename(columns={'Unnamed: 0': 'Occupation'}, inplace = True)

In [13]:
#check object types of columns
medEarnByJob.dtypes

Occupation                                            object
Total: Number of workers (thousands)                 float64
Total: Median weekly earnings ($)                    float64
Total: Standard error of median ($)                  float64
Women: Number of workers (thousands)                 float64
Women: Median weekly earnings ($)                    float64
Women: Standard error of median ($)                  float64
Men: Number of workers (thousands)                   float64
Men: Median weekly earnings ($)                      float64
Men: Standard error of median ($)                    float64
Women's \nearnings \nas a \npercentage \nof men's    float64
dtype: object

In [14]:
#sort values by lowest to highest by women's earnings as a percentage of men's
medEarnByJob = medEarnByJob.sort_values(medEarnByJob.columns[10])

In [15]:
#top 10 jobs with the biggest gap
topTenBiggestGap = medEarnByJob.head(10)
topTenBiggestGap
#Interesting to note that 7 of 10 are male-dominated

,Occupation,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's
27,Personal financial advisors,399.0,1404.0,32.0,142.0,953.0,45.0,258.0,1714.0,93.0,55.6
83,Insurance sales agents,423.0,839.0,38.0,205.0,676.0,57.0,218.0,1166.0,73.0,58.0
53,Physicians and surgeons,806.0,1916.0,61.0,308.0,1476.0,116.0,497.0,2343.0,140.0,63.0
87,Real estate brokers and sales agents,493.0,983.0,41.0,284.0,780.0,70.0,209.0,1222.0,122.0,63.8
84,"Securities, commodities, and financial service...",219.0,1351.0,71.0,63.0,951.0,51.0,155.0,1458.0,120.0,65.2
2,Marketing and sales managers,921.0,1468.0,40.0,403.0,1142.0,49.0,518.0,1745.0,42.0,65.4
3,Administrative services managers,172.0,1261.0,54.0,71.0,952.0,50.0,101.0,1398.0,49.0,68.1
85,"Sales representatives, services, all other",427.0,1040.0,66.0,145.0,826.0,63.0,282.0,1202.0,94.0,68.7
47,Other teachers and instructors,370.0,938.0,45.0,214.0,786.0,54.0,156.0,1135.0,46.0,69.3
5,Financial managers,1105.0,1423.0,35.0,578.0,1157.0,24.0,527.0,1670.0,87.0,69.3

In [16]:
#top 10 jobs with the lowest gap
topTenLowestGap = medEarnByJob.tail(10)
topTenLowestGap
#Interesting to note that 6 out of 10 are female-dominated

,Occupation,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's
82,Advertising sales agents,203.0,1023.0,56.0,81.0,999.0,122.0,122.0,1034.0,70.0,96.6
92,Receptionists and information clerks,951.0,583.0,7.0,848.0,581.0,7.0,103.0,600.0,26.0,96.8
97,"Shipping, receiving, and traffic clerks",473.0,596.0,10.0,151.0,583.0,18.0,322.0,602.0,12.0,96.8
54,Physical therapists,197.0,1325.0,29.0,128.0,1306.0,34.0,69.0,1348.0,32.0,96.9
98,Stock clerks and order fillers,1014.0,530.0,13.0,371.0,526.0,16.0,643.0,533.0,19.0,98.7
9,"Transportation, storage, and distribution mana...",288.0,990.0,40.0,51.0,988.0,424.0,237.0,990.0,37.0,99.8
40,Counselors,657.0,904.0,21.0,473.0,907.0,21.0,184.0,892.0,62.0,101.7
48,Teacher assistants,588.0,523.0,12.0,532.0,525.0,13.0,56.0,501.0,35.0,104.8
69,"Combined food preparation and serving workers,...",196.0,396.0,13.0,125.0,402.0,14.0,72.0,381.0,27.0,105.5
111,Sewing machine operators,165.0,437.0,15.0,114.0,452.0,15.0,52.0,407.0,16.0,111.1

In [17]:
#Create a plotly graph of median weekly pay for men and women in the top 10 jobs with the biggest pay gap
x_g2 = topTenBiggestGap.iloc[:, 0]
y1_g2 = topTenBiggestGap.iloc[:, 5]
y2_g2 = topTenBiggestGap.iloc[:, 8]
bubble1_g2 = topTenBiggestGap.iloc[:, 4]
bubble2_g2 = topTenBiggestGap.iloc[:, 7]
sizeref1_g2 = 2*max(bubble1_g2)/(70**2)
sizeref2_g2 = 2*max(bubble2_g2)/(70**2)

#create trace of women's pay
trace1_g2 = go.Scatter(x = x_g2, y = y1_g2, mode = 'markers', name = "Women's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref1_g2,
        size=bubble1_g2,
        line=dict(
            width=2
        ), sizemin=5))

#create trace of men's pay
trace2_g2 = go.Scatter(x = x_g2, y = y2_g2, mode = 'markers', name = "Men's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref2_g2,
        size=bubble2_g2,
        line=dict(
            width=2
        ), sizemin = 5))

data_g2 = [trace1_g2, trace2_g2]
layout_g2 = go.Layout(title = "Median Weekly Earnings for Men and Women in the Top 10 Jobs with the Largest Pay Gap"+'<br />(Hover for value)', xaxis = dict(title = "Occupation",), yaxis = dict(title = "Weekly Earnings ($)",),)
fig_g2 = go.Figure(data = data_g2, layout = layout_g2)
py.iplot(fig_g2, filename = "medEarnByJobBigGap")

In [18]:
#Create a plotly graph of median weekly pay for men and women in the top 10 jobs with the smallest pay gap
x_g3 = topTenLowestGap.iloc[:, 0]
y1_g3 = topTenLowestGap.iloc[:, 5]
y2_g3 = topTenLowestGap.iloc[:, 8]
bubble1_g3 = topTenLowestGap.iloc[:, 4]
bubble2_g3 = topTenLowestGap.iloc[:, 7]
sizeref1_g3 = 2*max(bubble1_g3)/(70**2)
sizeref2_g3 = 2*max(bubble2_g3)/(70**2)

#create trace of women's pay
trace1_g3 = go.Scatter(x = x_g3, y = y1_g3, mode = 'markers', name = "Women's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref1_g3,
        size=bubble1_g3,
        line=dict(
            width=2
        ), sizemin=5))

#create trace of men's pay
trace2_g3 = go.Scatter(x = x_g3, y = y2_g3, mode = 'markers', name = "Men's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref2_g3,
        size=bubble2_g3,
        line=dict(
            width=2
        ), sizemin = 5))

data_g3 = [trace1_g3, trace2_g3]
layout_g3 = go.Layout(title = "Median Weekly Earnings for Men and Women in the Top 10 Jobs with the Smallest Pay Gap"+'<br />(Hover for value)', xaxis = dict(title = "Occupation",), yaxis = dict(title = "Weekly Earnings ($)",),)
fig_g3 = go.Figure(data = data_g3, layout = layout_g3)
py.iplot(fig_g3, filename = "medEarnByJobSmallGap")

In [19]:
#Question: Which region of the country has the largest pay gap?
#Import data on median weekly earnings of full time workers by state in 2016 annual averages
medEarnByState = pd.read_csv(r'C:\Users\Student\Documents\DATS 6103- Individual Project 2- Iliana Maifeld-Carucci/medEarnByState.csv', encoding= 'ISO-8859-1')
medEarnByState

,Unnamed: 0,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's
0,United States,111091.0,832.0,2.0,49161.0,749.0,2.0,61930.0,915.0,3.0,81.9
1,Alabama,1580.0,743.0,15.0,715.0,651.0,16.0,865.0,856.0,33.0,76.1
2,Alaska,245.0,932.0,19.0,113.0,841.0,27.0,133.0,1014.0,27.0,82.9
3,Arizona,2213.0,829.0,16.0,947.0,768.0,14.0,1266.0,890.0,17.0,86.3
4,Arkansas,1014.0,716.0,13.0,459.0,638.0,16.0,555.0,769.0,17.0,83.0
5,California,12862.0,879.0,8.0,5383.0,814.0,11.0,7479.0,925.0,13.0,88.0
6,Colorado,1995.0,894.0,20.0,841.0,812.0,18.0,1154.0,967.0,20.0,84.0
7,Connecticut,1232.0,1014.0,27.0,555.0,876.0,33.0,677.0,1164.0,35.0,75.3
8,Delaware,357.0,831.0,22.0,166.0,775.0,21.0,191.0,902.0,27.0,85.9
9,District of Columbia,306.0,1198.0,33.0,152.0,1117.0,28.0,154.0,1274.0,38.0,87.7
10,Florida,6799.0,750.0,6.0,3158.0,701.0,10.0,3641.0,805.0,13.0,87.1
11,Georgia,3581.0,771.0,13.0,1654.0,721.0,16.0,1927.0,839.0,25.0,85.9
12,Hawaii,494.0,794.0,16.0,218.0,718.0,21.0,276.0,869.0,29.0,82.6
13,Idaho,540.0,759.0,14.0,220.0,645.0,18.0,320.0,843.0,19.0,76.5
14,Illinois,4513.0,887.0,12.0,1979.0,775.0,13.0,2534.0,978.0,19.0,79.2
15,Indiana,2402.0,762.0,16.0,1079.0,702.0,22.0,1322.0,829.0,22.0,84.7
16,Iowa,1143.0,763.0,13.0,528.0,684.0,17.0,614.0,895.0,23.0,76.4
17,Kansas,1026.0,762.0,13.0,460.0,692.0,19.0,566.0,851.0,33.0,81.3
18,Kentucky,1413.0,761.0,11.0,650.0,711.0,19.0,763.0,828.0,29.0,85.9
19,Louisiana,1517.0,757.0,15.0,704.0,659.0,21.0,813.0,863.0,28.0,76.4
20,Maine,438.0,820.0,18.0,194.0,754.0,17.0,244.0,900.0,28.0,83.8
21,Maryland,2386.0,987.0,23.0,1120.0,915.0,30.0,1266.0,1048.0,50.0,87.3
22,Massachusetts,2504.0,1019.0,17.0,1114.0,932.0,17.0,1390.0,1105.0,21.0,84.3
23,Michigan,3260.0,841.0,15.0,1438.0,742.0,12.0,1822.0,932.0,16.0,79.6
24,Minnesota,2035.0,946.0,16.0,901.0,849.0,25.0,1134.0,1020.0,28.0,83.2
25,Mississippi,941.0,702.0,15.0,452.0,624.0,18.0,490.0,778.0,26.0,80.2
26,Missouri,2199.0,793.0,16.0,1021.0,703.0,23.0,1178.0,885.0,29.0,79.4
27,Montana,314.0,781.0,17.0,138.0,705.0,19.0,176.0,866.0,23.0,81.4
28,Nebraska,706.0,766.0,11.0,318.0,697.0,18.0,388.0,855.0,23.0,81.5
29,Nevada,996.0,754.0,12.0,414.0,681.0,15.0,582.0,828.0,23.0,82.2
30,New Hampshire,524.0,904.0,25.0,230.0,762.0,16.0,294.0,1013.0,24.0,75.2
31,New Jersey,3324.0,998.0,13.0,1448.0,894.0,25.0,1877.0,1113.0,27.0,80.3
32,New Mexico,621.0,730.0,16.0,280.0,679.0,22.0,341.0,772.0,24.0,88.0
33,New York,6837.0,916.0,10.0,3145.0,840.0,13.0,3692.0,975.0,12.0,86.2
34,North Carolina,3533.0,761.0,10.0,1598.0,704.0,11.0,1935.0,836.0,19.0,84.2
35,North Dakota,299.0,805.0,12.0,131.0,713.0,12.0,168.0,930.0,19.0,76.7
36,Ohio,3927.0,806.0,10.0,1717.0,713.0,10.0,2210.0,899.0,17.0,79.3
37,Oklahoma,1248.0,724.0,16.0,534.0,651.0,12.0,714.0,824.0,22.0,79.0
38,Oregon,1327.0,857.0,18.0,554.0,791.0,24.0,772.0,904.0,23.0,87.5
39,Pennsylvania,4453.0,857.0,12.0,1984.0,741.0,11.0,2468.0,956.0,12.0,77.5
40,Rhode Island,385.0,839.0,19.0,179.0,765.0,30.0,206.0,907.0,21.0,84.3
41,South Carolina,1623.0,779.0,16.0,773.0,687.0,18.0,851.0,884.0,20.0,77.7
42,South Dakota,309.0,778.0,14.0,137.0,670.0,12.0,172.0,876.0,16.0,76.5
43,Tennessee,2252.0,747.0,14.0,983.0,666.0,17.0,1269.0,821.0,19.0,81.1
44,Texas,9801.0,780.0,8.0,4197.0,707.0,10.0,5603.0,860.0,12.0,82.2
45,Utah,997.0,833.0,18.0,358.0,668.0,16.0,640.0,955.0,20.0,69.9
46,Vermont,228.0,850.0,14.0,104.0,801.0,27.0,124.0,888.0,27.0,90.2
47,Virginia,3025.0,902.0,15.0,1376.0,809.0,22.0,1649.0,1013.0,30.0,79.9
48,Washington,2506.0,929.0,21.0,1065.0,814.0,18.0,1441.0,1056.0,33.0,77.1
49,West Virginia,565.0,762.0,14.0,248.0,688.0,17.0,316.0,846.0,30.0,81.3
50,Wisconsin,2098.0,843.0,16.0,947.0,737.0,14.0,1152.0,940.0,20.0,78.4
51,Wyoming,199.0,848.0,17.0,82.0,699.0,22.0,117.0,970.0,28.0,72.1
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#drop na values
medEarnByState.dropna(inplace=True)
medEarnByState.tail(5)

,Unnamed: 0,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's
47,Virginia,3025.0,902.0,15.0,1376.0,809.0,22.0,1649.0,1013.0,30.0,79.9
48,Washington,2506.0,929.0,21.0,1065.0,814.0,18.0,1441.0,1056.0,33.0,77.1
49,West Virginia,565.0,762.0,14.0,248.0,688.0,17.0,316.0,846.0,30.0,81.3
50,Wisconsin,2098.0,843.0,16.0,947.0,737.0,14.0,1152.0,940.0,20.0,78.4
51,Wyoming,199.0,848.0,17.0,82.0,699.0,22.0,117.0,970.0,28.0,72.1

In [21]:
#rename the first column to 'State' 
medEarnByState.rename(columns={'Unnamed: 0': 'State'}, inplace = True)
medEarnByState.head(5)

,State,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's
0,United States,111091.0,832.0,2.0,49161.0,749.0,2.0,61930.0,915.0,3.0,81.9
1,Alabama,1580.0,743.0,15.0,715.0,651.0,16.0,865.0,856.0,33.0,76.1
2,Alaska,245.0,932.0,19.0,113.0,841.0,27.0,133.0,1014.0,27.0,82.9
3,Arizona,2213.0,829.0,16.0,947.0,768.0,14.0,1266.0,890.0,17.0,86.3
4,Arkansas,1014.0,716.0,13.0,459.0,638.0,16.0,555.0,769.0,17.0,83.0

In [22]:
#drop the first 'United States' row
medEarnByState.drop([0], inplace = True)

In [23]:
medEarnByState.head()

,State,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's
1,Alabama,1580.0,743.0,15.0,715.0,651.0,16.0,865.0,856.0,33.0,76.1
2,Alaska,245.0,932.0,19.0,113.0,841.0,27.0,133.0,1014.0,27.0,82.9
3,Arizona,2213.0,829.0,16.0,947.0,768.0,14.0,1266.0,890.0,17.0,86.3
4,Arkansas,1014.0,716.0,13.0,459.0,638.0,16.0,555.0,769.0,17.0,83.0
5,California,12862.0,879.0,8.0,5383.0,814.0,11.0,7479.0,925.0,13.0,88.0

In [24]:
#need to map state names to their appropriate abbreviations
state_abbr = {
        'Alaska': 'AK',
        'Alabama': 'AL',
        'Arkansas': 'AR',
        'Arizona': 'AZ',
        'California': 'CA',
        'Colorado': 'CO',
        'Connecticut': 'CT',
        'District of Columbia': 'DC',
        'Delaware': 'DE',
        'Florida': 'FL',
        'Georgia': 'GA',
        'Hawaii': 'HI',
        'Iowa': 'IA',
        'Idaho': 'ID',
        'Illinois': 'IL',
        'Indiana': 'IN',
        'Kansas': 'KS',
        'Kentucky': 'KY',
        'Louisiana': 'LA',
        'Massachusetts': 'MA',
        'Maryland': 'MD',
        'Maine': 'ME',
        'Michigan': 'MI',
        'Minnesota': 'MN',
        'Missouri': 'MO',
        'Mississippi': 'MS',
        'Montana': 'MT',
        'North Carolina': 'NC',
        'North Dakota': 'ND',
        'Nebraska': 'NE',
        'New Hampshire': 'NH',
        'New Jersey': 'NJ',
        'New Mexico': 'NM',
        'Nevada': 'NV',
        'New York': 'NY',
        'Ohio': 'OH',
        'Oklahoma': 'OK',
        'Oregon': 'OR',
        'Pennsylvania': 'PA',
        'Rhode Island': 'RI',
        'South Carolina': 'SC',
        'South Dakota': 'SD',
        'Tennessee': 'TN',
        'Texas': 'TX',
        'Utah': 'UT',
        'Virginia': 'VA',
        'Vermont': 'VT',
        'Washington': 'WA',
        'Wisconsin': 'WI',
        'West Virginia': 'WV',
        'Wyoming': 'WY'
}

medEarnByState['State Abbr'] = medEarnByState['State'].map(state_abbr.get)
medEarnByState.head()

,State,Total: Number of workers (thousands),Total: Median weekly earnings ($),Total: Standard error of median ($),Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($),Women's earnings as a percentage of men's,State Abbr
1,Alabama,1580.0,743.0,15.0,715.0,651.0,16.0,865.0,856.0,33.0,76.1,AL
2,Alaska,245.0,932.0,19.0,113.0,841.0,27.0,133.0,1014.0,27.0,82.9,AK
3,Arizona,2213.0,829.0,16.0,947.0,768.0,14.0,1266.0,890.0,17.0,86.3,AZ
4,Arkansas,1014.0,716.0,13.0,459.0,638.0,16.0,555.0,769.0,17.0,83.0,AR
5,California,12862.0,879.0,8.0,5383.0,814.0,11.0,7479.0,925.0,13.0,88.0,CA

In [25]:
#Create plotly choropleth of the US based on women's earnings as a percentage of men's
for col in medEarnByState.columns:
    medEarnByState[col] = medEarnByState[col].astype(str)

scale_g4 = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],[0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]
medEarnByState['text'] = medEarnByState.iloc[:, 0]

data_g4 = [dict(type='choropleth', colorscale=scale_g4, autocolorscale = False, locations=medEarnByState.iloc[:,11], z=medEarnByState.iloc[:,10].astype(float), locationmode='USA-states', text=medEarnByState['text'], marker=dict(line=dict(color='rgb(255,255,255)', width=2)), colorbar=dict(title= "Women's Earnings as a Percentage of Men's"))]
layout_g4 = dict(title = "Women's Earnings as a Percentage of Men's for Full Time Workers in 2016 Annual Averages"+'<br />(Hover for value)', geo=dict(scope='USA', projection = dict(type='albers usa'), showlakes=True, lakecolor='rgb(95,145,237)'))
fig_g4 = dict(data=data_g4, layout=layout_g4)
py.iplot(fig_g4, validate=False, filename='medEarnByState')

In [26]:
#Question: How does the wage gap change based on educational attainment over time?
#Import data on the women's earnings as a percentage of men's of full time workers by educational attainment from 1979-2016
medEarnByEd = pd.read_csv(r'C:\Users\Student\Documents\DATS 6103- Individual Project 2- Iliana Maifeld-Carucci/medEarnByEd.csv', encoding= 'ISO-8859-1')
medEarnByEd

,Year,"Total, 25 years and older",Less than a high school diploma,"High school graduates, no college",Some college or associate's degree,Bachelor's degree and higher
0,1979.0,62.1,60.3,60.1,64.1,66.7
1,1980.0,62.8,61.4,61.5,64.5,67.9
2,1981.0,62.6,61.2,61.0,65.6,66.9
3,1982.0,64.9,62.8,63.1,66.7,68.8
4,1983.0,65.8,64.8,63.4,68.2,71.2
5,1984.0,67.1,64.9,64.9,68.4,69.4
6,1985.0,66.8,64.3,65.8,67.2,70.2
7,1986.0,66.5,64.8,66.6,68.0,70.6
8,1987.0,67.3,66.0,68.1,69.8,71.4
9,1988.0,68.8,66.6,68.2,71.6,71.4
10,1989.0,70.2,66.8,67.6,73.3,71.9
11,1990.0,72.1,68.8,68.6,72.9,72.2
12,1991.0,74.0,71.6,69.8,72.6,73.6
13,1992.0,74.6,72.9,70.4,73.3,75.1
14,1993.0,74.8,73.9,71.3,73.8,75.8
15,1994.0,73.1,75.1,70.8,72.1,76.8
16,1995.0,72.8,75.5,70.2,71.6,76.2
17,1996.0,74.1,75.1,70.7,73.2,75.2
18,1997.0,75.1,75.3,70.7,73.9,75.0
19,1998.0,75.9,73.9,70.8,74.0,75.3
20,1999.0,74.4,73.4,69.8,73.4,75.7
21,2000.0,74.5,74.9,71.1,73.1,74.1
22,2001.0,75.4,75.4,72.7,71.9,73.7
23,2002.0,77.6,77.2,74.2,74.3,74.2
24,2003.0,78.5,76.7,75.5,75.7,73.6
25,2004.0,78.6,74.9,75.7,75.8,75.2
26,2005.0,79.4,74.9,75.6,76.6,75.7
27,2006.0,78.7,76.3,73.7,75.6,75.1
28,2007.0,78.5,76.7,74.3,75.2,75.0
29,2008.0,78.2,76.1,73.3,75.7,74.3
30,2009.0,78.7,76.4,75.7,75.4,73.1
31,2010.0,80.5,79.8,76.5,75.5,74.1
32,2011.0,81.0,80.9,76.9,76.8,74.9
33,2012.0,79.9,76.0,76.3,76.9,73.0
34,2013.0,81.1,80.0,78.3,76.6,74.8
35,2014.0,81.6,79.1,77.0,75.8,75.7
36,2015.0,80.4,80.4,77.2,75.2,74.9
37,2016.0,80.9,76.8,77.9,76.8,75.2
38,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#check data types
medEarnByEd.dtypes

Year                                  float64
Total, 25 years and older             float64
Less than a high school diploma       float64
High school graduates, no college     float64
Some college or associate's degree    float64
Bachelor's degree and higher          float64
dtype: object

In [28]:
#drop na values
medEarnByEd.dropna(inplace=True)

In [29]:
#Create a plotly graph of women's earnings as a percentage of men's by differing educational attainments from 1979-2016
x_g6 = medEarnByEd.iloc[:, 0]
y1_g6 = medEarnByEd.iloc[:, 2]
y2_g6 = medEarnByEd.iloc[:, 3]
y3_g6 = medEarnByEd.iloc[:, 4]
y4_g6 = medEarnByEd.iloc[:, 5]

#create trace of those with less than a high school diploma
trace1_g6 = go.Scatter(x = x_g6, y = y1_g6, mode = 'lines+markers', name = "Less than a High School Diploma")

#create trace of those with a high school diploma, but no college
trace2_g6 = go.Scatter(x = x_g6, y = y2_g6, mode = 'lines+markers', name = "High School Graduates, No College")

#create trace of those with some college or associate's degree
trace3_g6 = go.Scatter(x = x_g6, y = y3_g6, mode = 'lines+markers', name = "Some College or Associate's Degree")

#create trace of those with a Bachelor's degree and higher
trace4_g6 = go.Scatter(x = x_g6, y = y4_g6, mode = 'lines+markers', name = "Bachelor's Degree and Higher")

data_g6 = [trace1_g6, trace2_g6, trace3_g6, trace4_g6]
layout_g6 = go.Layout(title = "Women's Median Weekly Earnings as a Percentage of Men's By Differing Education Levels" + "<br />for Full Time Workers 25 yrs and Older from 1979 to 2016"+'<br />(Hover for value)', xaxis = dict(title = "Year",), yaxis = dict(title = "Women's Earnings as a Percentage of Men's",),)
fig_g6 = go.Figure(data = data_g6, layout = layout_g6)
py.iplot(fig_g6, filename = "medEarnByEd")

In [30]:
#Question: How does the difference in pay change depending on marital status and the presence of children?
#Import data on median weekly earnings of full time workers by marital status and presence of children in 2016 annual averages
medEarnByMarry = pd.read_csv(r'C:\Users\Student\Documents\DATS 6103- Individual Project 2- Iliana Maifeld-Carucci/medEarnByMarry.csv', encoding= 'ISO-8859-1')
medEarnByMarry

,Characteristic,Women's Earnings as a Percentage of Men's,Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($)
0,"Total, all marital statuses",81.86,49161,749,2,61930,915,3
1,"All, children under 18",74.63,17288,756,4,22021,1013,5
2,"All, children 6 to 17, none younger",71.15,10517,772,6,11953,1085,12
3,"All, children under 6",76.68,6771,730,7,10068,952,8
4,"All, no children under 18",86.64,31873,746,3,39909,861,4
5,"Total, Married, Spouse Present",78.90,24849,838,5,36195,1062,6
6,"Married, Spouse Present, Children < 18",81.23,11327,870,7,19297,1071,8
7,"Married, Spouse Present, Children 6 to 17",75.57,6810,857,9,10623,1134,9
8,"Married, Spouse Present, Children < 6",87.36,4516,885,9,8674,1013,8
9,"Married, Spouse Present, no Children < 18",77.40,13523,815,6,16898,1053,8
10,"Total, other marital statuses",91.67,24312,671,3,25736,732,4
11,"Other, Children < 18",84.42,5961,607,4,2724,719,10
12,"Other, Children 6 to 17",81.43,3706,662,8,1330,813,21
13,"Other, Children < 6",80.37,2255,524,7,1394,652,13
14,"Other, no Children < 18",95.09,18350,697,4,23011,733,4

In [31]:
#check data types
medEarnByMarry.dtypes

Characteristic                                object
Women's Earnings as a Percentage of Men's    float64
Women: Number of workers (thousands)           int64
Women: Median weekly earnings ($)              int64
Women: Standard error of median ($)            int64
Men: Number of workers (thousands)             int64
Men: Median weekly earnings ($)                int64
Men: Standard error of median ($)              int64
dtype: object

In [32]:
#drop na values
medEarnByMarry.dropna(inplace=True)

In [33]:
#drop all marital status block
medEarnByMarry.drop([0, 1, 2, 3, 4], inplace = True)

In [34]:
medEarnByMarry

,Characteristic,Women's Earnings as a Percentage of Men's,Women: Number of workers (thousands),Women: Median weekly earnings ($),Women: Standard error of median ($),Men: Number of workers (thousands),Men: Median weekly earnings ($),Men: Standard error of median ($)
5,"Total, Married, Spouse Present",78.90,24849,838,5,36195,1062,6
6,"Married, Spouse Present, Children < 18",81.23,11327,870,7,19297,1071,8
7,"Married, Spouse Present, Children 6 to 17",75.57,6810,857,9,10623,1134,9
8,"Married, Spouse Present, Children < 6",87.36,4516,885,9,8674,1013,8
9,"Married, Spouse Present, no Children < 18",77.40,13523,815,6,16898,1053,8
10,"Total, other marital statuses",91.67,24312,671,3,25736,732,4
11,"Other, Children < 18",84.42,5961,607,4,2724,719,10
12,"Other, Children 6 to 17",81.43,3706,662,8,1330,813,21
13,"Other, Children < 6",80.37,2255,524,7,1394,652,13
14,"Other, no Children < 18",95.09,18350,697,4,23011,733,4

In [35]:
#Create a plotly graph of median weekly earnings by differing marital status' and presence of children
x_g7 = medEarnByMarry.iloc[:, 0]
y1_g7 = medEarnByMarry.iloc[:, 3]
y2_g7 = medEarnByMarry.iloc[:, 6]
bubble1_g7 = medEarnByMarry.iloc[:, 2]
bubble2_g7 = medEarnByMarry.iloc[:, 5]
sizeref1_g7 = 2*max(bubble1_g2)/(10**2)
sizeref2_g7 = 2*max(bubble2_g2)/(10**2)

#create trace of women's pay
trace1_g7 = go.Scatter(x = x_g7, y = y1_g7, mode = 'markers', name = "Women's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref1_g7,
        size=bubble1_g7,
        line=dict(
            width=2
        ), sizemin=5))

#create trace of men's pay
trace2_g7 = go.Scatter(x = x_g7, y = y2_g7, mode = 'markers', name = "Men's Earnings", marker = dict(symbol='circle',
        sizemode='area',
        sizeref=sizeref2_g7,
        size=bubble2_g7,
        line=dict(
            width=2
        ), sizemin = 5))

data_g7 = [trace1_g7, trace2_g7]
layout_g7 = go.Layout(title = "Median Weekly Earnings for Men and Women with Differing Marital Status' and Presence of Children"+'<br />(Hover for value)', xaxis = dict(title = "Marital Status and Presence of Children",), yaxis = dict(title = "Weekly Earnings ($)",),)
fig_g7 = go.Figure(data = data_g7, layout = layout_g7)
py.iplot(fig_g7, filename = "medEarnByMarry")